<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="style.css">

        <!-- Don't load favicon.ico -->
        <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    </head>
    <body style="background-color:{{webview_background_color}}">
        <div class="theme-default target-{{target_os}}" style="width: 100%; height: 100%;">
            <canvas class="waveform"></canvas>
            <div class="window simple-mode">
                <div class="title-bar">
                    <div class="button-bar">
                        <button type="button" class="close" aria-label="close"><i></i></button>
                        <button type="button" class="minimize" disabled="true"></button>
                        <button type="button" class="maximize" disabled="true"></button>
                    </div>
                    <div class="title-bar-text">
                        Millenium Player
                    </div>
                    <div class="third-bar"></div>
                </div>
                <div style="padding:10px;">
                    <!--<button onclick="millenium.Message.send('test', 'test IPC message')">Test IPC</button>-->
                </div>
            </div>
        </div>

        <script type="text/javascript" src="index.js"></script>
    </body>
</html>